@model  List<KarimLamrini_EntityFramework.Models.Student>

@{
    ViewBag.Title = "Home Page";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>
}

<div class="stats">
    <h3 class="text-center">What would you like to do?</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-primary btn-lg btn-block" href="/School/AddStudent">Add Student</a></p>
    </div>
    <div class="col-md-4">
        <p> <a class="btn btn-primary btn-lg btn-block" href="/School/AddAuthor">Add Author</a></p>
    </div>
    <div class="col-md-4">
        <p>   <a class="btn btn-primary btn-lg btn-block" href="/School/AddBook">Add Book</a></p>
    </div>
</div>

<table class="table">
    <tr>
        <th>Student ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Books</th>
        <th>Authors</th>

        <th>&nbsp;</th>
    </tr>
    @foreach (var student in Model)
    {
    <tr>
        <td>@student.StudentId</td>
        <td>@student.FirstName</td>
        <td>@student.LastName</td>
        <td>
            <ul>
                @foreach (var item in student.Books)
                {
                    <li>@item.Title</li>
                }
            </ul>

        </td>
        <td>
            <ul>
                @foreach (var item in student.Books)
                {
                    foreach (var author in item.Authors)
                    {
                        <li>@author.Name </li>
                    }
                }
            </ul>

        </td>

        <td>
            <div class="pull-right">
                <a href="@Url.Action("Edit", new { id = student.StudentId })" class="btn btn-warning btn-sm margin-right">
                    <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                </a>
                <a href="@Url.Action("Delete", new { id = student.StudentId })" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                </a>
            </div>
        </td>
    </tr>
    }
</table>
